/*
This code is under MIT licence, you can find the complete file here: 
https://github.com/gutierr3z/pliable_flex/blob/master/LICENSE.md
*/

/* BASE */
@import url( 'pliable.base.css' );

/* BOOTSTRAP */
@import url( 'bootstrap.overwrites/navbar/navbar.css' );

/* BRAND */
/* @import url( 'brand.01/brand.css' ); */

/* 
How to reset / remove chrome's input highlighting / focus border? [duplicate]
border:0;
outline:none;
box-shadow:none;
*/